<div class="p-4">
    {{#each showBlogs}}
    <div class="pb-1 pt-2 mb-2 text-info rounded bg-secondary">
        <div class="px-0 pl-2">
            <a href="/dashboard/post/{{this.id}}" class="link-warning text-decoration-none">
                <div class="blog-post-title h2 ps-4">{{this.post_title}}</div>
            </a>
            <div class="fs-6">
                <p class="blog-post-meta text-light ps-4">Posted on {{dateFormat this.createdAt "MM/DD/YYYY (h:mm
                    a)"}} by user {{this.user.name}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>