<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-secondary text-info" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <p class="h2">Technology Blog</p>

                            <p class="text-white-50 mb-5">Please enter information to Sign Up</p>

                            <div class="form-outline form-white mb-4">
                                <input type="name" id="usernameSignup" class="form-control form-control-lg" />
                                <label class="form-label" for="usernameSignup">Username</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="email" id="emailSignup" class="form-control form-control-lg" />
                                <label class="form-label" for="emailSignup">E-mail</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="passwordSignup" class="form-control form-control-lg" />
                                <label class="form-label" for="passwordSignup">Password</label>
                            </div>

                            <button id="signupBtn" class="loginBtn btn btn-outline-warning btn-lg px-5"
                                type="submit">Sign Up</button>
                        </div>

                        <div>
                            <p class="mb-0">Already have an account? <a href="/login"
                                    class="text-white-50 fw-bold">Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/signup.js"></script>
</section>